/* GLOBAL */
html {
    font-size: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    width: 100%;
    height: 100%;
    background-color: #101011;
    color: #F2F2F2;
    font-family: 'Work Sans', sans-serif;
}

a, a:hover {
    color: #F2F2F2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

.link {
    font-family: 'Work Sans', sans-serif;
    line-height: 50px;
    text-transform: uppercase;
    margin: 20px 10px;
}

.link-name {
    margin: 20px 50px;
    position: relative;
}

h1 {
    font-family: 'Sarpanch', cursive;
    font-weight: bolder;
    font-size: 11em;
    letter-spacing: .15em;
    text-align: center;
    background: linear-gradient(to left, #5D2E53, #8D3357, #C94D57, #F05D5B, #F49A64);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

h3 {
    font-family: 'Sarpanch', cursive;
    font-weight: bolder;
    font-size: 1.7em;
    line-height: 1em;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: .05em;
    text-transform: uppercase;
}

#return-right, #return-left {
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 15;
    font-size: 40px;
}

/* GRID */

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "top top top top top" 
        "left gap1 center gap2 right" 
        "bottom bottom bottom bottom bottom";
    grid-template-columns: 50px 50px 1fr 50px 50px;
    grid-template-rows: 50px 1fr 50px;
    place-content: space-around space-around;
}

#leftBorder, #rightBorder, #center, #gap1, #gap2 { height: calc(100vh - 100px); }
#leftBorder, #rightBorder, #topBorder, #bottomBorder { 
    background-color: #101011; 
    z-index: 5;
}

#topBorder { grid-area: top; }
#leftBorder { grid-area: left; }
#rightBorder { grid-area: right; }
#bottomBorder { grid-area: bottom; }
#gap1 { grid-area: gap1; }
#gap2 { grid-area: gap2; }
#center { 
    grid-area: center; 
    position: relative;
    width: calc(100vw - 200px);
}

/* CENTER — G R A P H I C S */

#color-box {
    position: absolute;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    left: 50px;
    top: 50px;
}

#center-block {
    background-color: #5D2E53;
    width: 50%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: calc(50vh - 70px);
}

#graphic-box {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none
}

#bone {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -200px;
}

#profile-mini {
    width: 88px;
    height: 88px;
    position: absolute;
    top: 50%;
    left: 52px;
    margin-top: -44px;
    margin-left: -44px;
    background-color: #C94D57;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
}

#profile-mini img {
    width: 84px;
    height: auto;
    position: absolute;
    top: 51px;
    left: 44px;
    clip-path: circle(40px at 42px 56px);
    margin-top: -63px;
    margin-left: -42px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 11;
}

#portfolio-mini {
    width: 88px;
    height: 88px;
    position: absolute;
    top: 50%;
    right: 52px;
    margin-top: -44px;
    margin-right: -44px;
    background-color: #C94D57;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
}

#portfolio-mini img {
    width: 130px;
    height: auto;
    position: absolute;
    top: 46px;
    right: 42px;
    clip-path: circle(40px at 63px 42px);
    margin-top: -43.25px;
    margin-right: -65px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 11;
}

/* CONTENT — P R O F I L E */

#profile {
    left: -50px;
    width: 100%;
    opacity: 0;
    position: relative;
    display: none;
}

#profile-big {
    height: 33vh;
    opacity: 1;
}
#profile-big img { max-height: 100%; }

#profile-left { 
    position: absolute;
    top: 0;
    width: 213px;
    margin: 0;
}

.social {
    width: 20px;
    height: 20px;
    margin: 14px 15px 16px;
    vertical-align: middle;
}

.verticalMenu {
    display: block;
    top: 50%;
    line-height: 2.5em;
    position: relative;
    margin-top: 15px;
    z-index: 2;
}

#profile-right {
    position: absolute;
    left: 213px;
    margin: 0 50px;
}

#block1, #block2, #block3, #block4, #block5 {
    text-align: center;
    font-size: 0.9em;
    padding: 25px 10px;
    margin-bottom: 10px;
}
#block1, #block5 {
    font-size: .7em;
    padding: 20px;
}
#block2, #block3, #block4 { 
    width: 32.9%;
    min-width: 250px;
    display: inline-block;
}

#block1 {border: 2px solid #F49A64;}
#block2 {border: 2px solid #F05D5B;}
#block3 {border: 2px solid #C94D57;}
#block4 {border: 2px solid #8D3357;}
#block5 {border: 2px solid #5D2E53;}
#block-fake { width: 100%; }

.color-home {
    cursor: pointer;
}

/* CONTENT — P O R T F O L I O */
#portfolio {
    right: -50px;
    width: 100%;
    opacity: 0;
    position: relative;
    display: none;
    margin-left: 15px;
}

.proj {
    position: relative;
    width: 350px;
    margin: 0 10px 20px;
    z-index: 5;
    display: inherit;
}

.projImg {
    opacity: 1;
    display: block;
    width: 350px;
    height: 250px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.proj:hover .projImg { opacity: 0.3; }
.proj:hover .overlay { opacity: 1; }

.projLink {
    background-color: #5D2E53;
    color: #F2F2F2;
    font-size: 1em;
    padding: 10px 32px;
}

div .projLink:nth-of-type(2) { margin-left: 20px; }

.projDesc {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: .04em;
}



.c5 {color: #5D2E53;}
.c4 {color: #8D3357;}
.c3 {color: #C94D57;}
.c2 {color: #F05D5B;}
.c1 {color: #F49A64;}

.hidden-element {
    display: none;
}

.max-height {height: 100%;}
.row-25 {height: 25%;}
.row-50 {height: 50%;}

/* MOBILE STYLING */
/* @media only screen and (max-width: 991px) {
    #logo {
        position: relative;
        left: 0;
        margin: auto;
        display: flex;
    }
}

@media only screen and (max-width: 624px), 
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    aside { 
        display: none; 
    }

    .container-fluid {
        padding: 0;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .horizontalMenu, .switchBtn-alt {
        display: inline-flex;
    }

    h1 {
        margin-top: 50px;
        font-size: 4em;
    }
} */